<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{% block title %}{% endblock%}</title>
    <link href="/t/style.css" rel="stylesheet" type="text/css" />
    <link href="/t/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
  	<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'enirehtaccom'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
    </script>
</head>

<body>
<div class="wrapper">

{% include "include/header.html" %}
{% include "include/nav.html" %}
 

{% block content %}{% endblock %}



{% include "include/footer.html" %}



</div>
</body>
</html>