
{% extends "base.html" %}
{% block title %}{{site.title}}{% endblock%}
{% block content %}
<!-- Content -->
<div class = "autopagerize_page_element" >
<div class="content">
<ul class="item">
{% for post in posts %}
<li class="post-line">
    

    <div style="float:right;text-align:right;">{{ post.date | date('%d %b %Y') }}</div>
    
            <a href="{{post.url}}">{{post.title}}</a>
      
 

</li>
{% endfor %}
</ul>

<div class="pagination">
<ul class="clearfix">
    {% if paginator.has_previous %}
    <li class="pagbuttons" id="newer"><a class="withback" href="{{ paginator.previous_page_url }}">更新的 »</a></li>
    {% endif %}
    {% if paginator.has_next %}
    <li class="pagbuttons" id="older"><a class="withback" href="{{ paginator.next_page_url}}">« 以前的</a></li>
    {% endif %}
    
</ul>
</div>

</div> <!-- Content ends-->

{% endblock %}



