{% extends 'base.html' %}
{% block title %}{{ site.title }}: {{ tags | join(' ') }}{% endblock %}

{% block content %}
 <!-- Content -->
<div class = "autopagerize_page_element" >
<div class="content">
<h3>Posts in {{ tags | join(' ') }}</h3>
<ul class='all-item'>

{% for post in posts %}
<li class="listing-item">
                <span class="fr">{{ post.date | date("%d %b %Y") }}</span>
<a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
</li>
{% endfor %}
</ul>

</div>
</div>

{% include 'include/paginator.html' %}

{% endblock %}
